
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owais Portfolio</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
           $(".menu-icon").on("click", function() {
                 $("nav ul").toggleClass("showing");
           });
     });

     // Scrolling Effect

     $(window).on("scroll", function() {
           if($(window).scrollTop()) {
                 $('nav').addClass('black');
           }

           else {
                 $('nav').removeClass('black');
           }
     })
</script>
<link rel="stylesheet" type="text/css" href="homepage.CSS"/>
<style>
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url('night sky2.jpg') no-repeat 50% 50%;
      background-size: 100% 100%;
}


.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 42px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #ff6347;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 28px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;

}

#jumbotron{
  color: white;
  background-color: transparent;
}

#jumbocontainer{
  margin-top: 18%;
  text-align: -webkit-center;

}

#font{
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter
}

li{
  list-style: none;
  spacing:
}

ul{
  padding-left: 0;
}

#profile{
  width: 80%;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;


}
#profileinfo{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  /* margin-top: 1%; */
  margin-right: 5%;
  justify-content: center;
}

#profilehead{

  margin-top: 10%;
  margin-left: 11%;
  font-weight: 400;
}

#skillset{
  margin-left: 1%;
  text-align: left;
  color: black;
  font-weight:bold;
}

#professionalprofile{
  width: 40%;
  margin-left: 15%;
}

#resumehead{

  margin-top: 10%;
  margin-left: 11%;
  font-weight: 400;
}

#resume{
  width: 80%;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;

}

#degrees{
  margin-left: 5%;
  width: 40%
  text-align: left;
  color: black;
}

#degreespacing{
  margin-bottom: 3%;
}

#schools{
  margin-left: 5%;
}
#resumeinfo{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  justify-content: center;
}

hr{
  margin:0;
}

#portfolio{
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #048;
  background: -webkit-linear-gradient(left top, #027, #48a);
  background: -moz-linear-gradient(bottom right, #027, #48a);
  background: linear-gradient(to bottom right, #027, #48a);
}

#portfoliohead{
  margin-top: 2%;
  margin-left: 11%;
  font-weight: 400;
}

.row {
	margin: 0;
}
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.test_box {
	padding: 0;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5);
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner {
	background-image: url('mycellar.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.box-02 .inner {
	background-image: url('digitalnomads.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('https://picsum.photos/1024/768?image=924');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1073');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1032');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1080');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}


@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

</style>
  </head>
  <body>
    <div>
    <header id="home">
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  Owais Badat
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="#home">Home</a></li>
                     <li><a href="#profile">Profile</a></li>
                     <li><a href="#resume">Resume</a></li>
                     <li><a href="#portfolio">Portfolio</a></li>
                     <li><a href="#contact">Contact</a></li>
                  </ul>
               </div>
            </nav>

            <div class="jumbotron jumbotron-fluid" id="jumbotron">
                <div class="container" id="jumbocontainer">
                  <h1 class="display-4" style="font-size:80px">Hello, I'm Owais Badat</h1>
                  <p class="lead" style="font-size:48px">Full Stack Developer</p>
                  <span style="margin-right:5%">
                    <a href="https://www.linkedin.com/in/owaisbadat/" style="color: Tomato;"><i class="fab fa-linkedin fa-3x"></i></a>
                  </span>
                  <span>
                    <a href="https://github.com/OwaisBadat" style="color: Tomato;"><i class="fab fa-github-square fa-3x"></i></a>
                  </span>
                </div>
            </div>
         </header>
       </div>
       <div class="container-fluid" id="profile">
         <div id="profilehead">
           <h1 id="font" style="font-size: 40px; font-weight:bold;">Owais Badat<h1>
             <p id="font" style="color:grey; font-size: 22px;padding-left: .4%">Full Stack Developer</p>
         </div>
         <div id="profileinfo">
           <div>
             <image src="face.png" height="350" width="121"/>
           </div>
           <div id="skillset">
             <h4>SKILLSET</h4>
             <ul>
               <li>Node.js</li>
               <li>React</li>
               <li>Javascript</li>
               <li>PostgresSQL</li>
               <li>JQuery</li>
               <li>JSON</li>
               <li>HTML</li>
               <li>CSS</li>
               <li>AWS</li>
               <li>Git/Github</li>
               <li>Heroku</li>
             </ul>
           </div>
           <div id="professionalprofile">
             <h3>Professional Profile</h3>
             <p>Self driven Software Developer from Houston Texas ready for any new opportunities. I truly enjoy working in a team setting with professional colleagues who have the same passion for quality work as I do. I believe that working in a team and bouncing off creative ideas leads to the best work product.<br><br>
             I have created multiple web applications utilizing agile methodologies that aimed to solve problems in the construction industry. I can do both front end and back end development environments and have a passion for both sides of the process. Although I am a team player I am fully capable of working in a self starting environment with minimal oversight. At times this is when I truly grow and thrive; after the work is defined and a target has been placed in front of me.</p>
           </div>
         </div>
      </div>
      <br><br>
      <hr>
      <div class="container-fluid" id="resume">
        <div id="profilehead">
          <h1 id="font" style="font-size: 40px;font-weight:bold;">Resume<h1>
            <p id="font" style="color:grey; font-size: 22px;">My Education</p>
        </div>
        <div id="resumeinfo">
          <div style="margin-top: 5px;">
            <span style="color: Tomato;">
              <i class="fas fa-user-graduate fa-7x"></i>
            </span>
          </div>
          <div id="degrees" style="width:35%">
            <div id="degreespacing">
              <h3 style="margin:0;">Full Stack Developer</h3>
              <!-- <p>Immersive Bootcamp</p> -->
            </div>
            <hr style="width: 100%;">
            <div id="degreespacing">
              <h3 style="margin:0;">Economics</h3>
              <p style="margin:0;">Bachelors of Science</p>
            </div>
            <hr style="width: 100%;">
            <div id="degreespacing">
              <h3 style="margin:0;">Psychology</h3>
              <p style="margin:0;">Bachelors of Science</p>
            </div>
            <hr style="width: 100%;">
          </div>
          <div id="schools">
            <div id="degreespacing">
              <h3 style="margin:0;">DigitalCrafts</h3>
              <p>2017-2018</p>
            </div>
            <div id="degreespacing">
              <h3 style="margin:0;">University of Houston</h3>
              <p>2011-2015</p>
            </div>
            <div id="degreespacing">
              <h3 style="margin:0;">University of Houston</h3>
              <p>2011-2015</p>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-outline-primary btn-lg" style="color: White; background-color: Tomato;margin-left: 27%;margin-top: .5%;">Download CV</button>


      </div>

      <div class="container-fluid" id="portfolio">
        <div id="portfoliohead">
          <h1 id="font" style="font-size: 40px;color:white;font-weight:bold;">Portfolio<h1>
            <p id="font" style="color:grey; font-size: 22px;color:white;">My best works.</p>
        </div>
        <div>
          <div class="row">
	<div class="containers">
		<div class="test_box box-01 col-xs-6 col-md-4">
			<div class="inner">
				<a href="https://dc-cellar.herokuapp.com/" class="test_click">
					<div class="flex_this">
						<!-- <h1 class="test_title">Cellar App</h1> -->
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-02 col-xs-6 col-md-4">
			<div class="inner">
				<a href="http://digitalnomads.surge.sh/" class="test_click">
					<div class="flex_this">
						<!-- <h1 class="test_title">Title</h1> -->
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-03 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<!-- <div class="test_box box-04 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-05 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-06 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div> -->
	</div>
</div>


        </div>


      </div>







  </body>
</html>
