<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=630ecb76911d04577d933ffd0bdd4613">
</head>

<body>
    <div class="container-fluid" id="home" style="background-image: url(&quot;/assets/img/night%20sky.jpg?h=e92f1042fb9517e5e30205dd009ba247&quot;);height: 600px;margin: 0px;padding: 0px;background-size: 100% 100%;background-repeat: no-repeat;max-width: 100%;background-position: center;">
        <nav class="navbar navbar-light navbar-expand-md text-uppercase navigation-clean-search" style="background-color: rgba(255,255,255,0);max-width: 100%;padding-left: 5%;padding-right: 5%;">
            <div class="container"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);">Owais Badat</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse justify-content-end" id="navcol-1" style="color: rgb(234,226,226);">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active text-right" href="#home" target="_top" style="color: #ffffff;background-size: auto;">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#profile" style="color: rgb(255,255,255);">Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(255,255,255);">Resume</a></li>
                    </ul><a class="btn btn-light action-button" role="button" href="#" style="background-color: rgb(21,173,173);">Contact Me</a></div>
    </div>
    </nav>
    <div class="jumbotron justify-content-center" style="background-color: rgba(233,236,239,0);margin-bottom: 0px;margin-top: 10%;">
        <h1 class="text-center text-sm-center text-md-center text-lg-center text-xl-center align-content-center" style="color: rgb(255,255,255);font-size: 50px;height: 59px;">Hello, I'm Owais Badat</h1>
        <p class="text-center" style="color: rgb(255,255,255);font-size: 24px;">Full Stack Developer</p>
    </div>
    </div>
    <div class="row" style="background-color: #ffffff;margin-right: 10%;max-width: 100%;margin-left: 10%;">
        <div class="col" style="max-width: 100%;margin-top: 5%;">
            <h1 style="margin-bottom: 0px;">Owais Badat</h1>
            <p style="color: rgb(107,110,112);margin-bottom: 0px;padding-left: 5px;margin-left: auto;margin-right: auto;">Full Stack developer</p>
        </div>
    </div>
    <div class="container-fluid d-flex" id="profile" style="max-width: 100%;max-height: 100%;height: auto;width: auto;padding-left: 0%;margin-top: 0px;">
        <div class="col" style="width: 20%;height: 33%;margin-top: 5%;padding-right: 0px;padding-left: 0px;margin-left: 15%;"><img class="img-thumbnail img-fluid" src="/assets/img/photo-1494790108377-be9c29b29330.jpeg?h=4b8cb8fc9ef43ccb41c5605d4732234e" width="100%" height="auto" style="margin-right: 0px;"></div>
        <div class="col" style="width: 39%;height: 33%;margin-top: 5%;padding-left: 0px;padding-right: 0px;margin-left: 1%;">
            <h2 style="width: 20%;">Skillset</h2>
            <ul class="text-left" style="list-style: none;font-size: 16px;padding-left: 0px;width: 20%;">
                <li>Node.js</li>
                <li>JQuery</li>
                <li>React</li>
                <li>Javascript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>PostgresSQL</li>
                <li>Git/Github</li>
                <li>Python</li>
                <li>Express</li>
                <li>A.W.S</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col-5" style="width: 20%;height: 33%;margin-top: 5%;margin-right: 15%;">
            <h2 style="width: auto;">Professional Profile</h2>
            <p style="font-size: 16px;">Self driven Software Developer from Houston Texas ready for any new opportunities. I truly enjoy working in a team setting with professional colleagues who have the same passion for quality work as I do. I believe that working in a team and
                bouncing off creative ideas leads to the best work product.&nbsp;<br><br>I have created multiple web applications utilizing agile methodologies that aimed to solve problems in the construction industry. I can do both front end and back
                end development environments and have a passion for both sides of the process. Although I am a team player I am fully capable of working in a self starting environment with minimal oversight. At times this is when I truly grow and thrive;
                after the work is defined and a target has been placed in front of me.</p>
        </div>
    </div>
    <div class="row" style="background-color: #ffffff;margin-right: 10%;max-width: 100%;margin-left: 10%;">
        <div class="col" style="max-width: 100%;margin-top: 5%;">
            <h1 style="margin-bottom: 0px;">Resume</h1>
            <p style="color: rgb(107,110,112);margin-bottom: 0px;padding-left: 5px;margin-left: auto;margin-right: auto;">My Education</p>
        </div>
    </div>
    <div class="container d-flex flex-row" style="max-height: 100%;height: 600px;"><i class="fa fa-graduation-cap" style="font-size: 90px;"></i>
        <div class="col">
            <h3>Full Stack Developer Bootcamp</h3>
            <p></p>
            <h3>B.S. in Economics</h3>
            <h3>B.S. in Psychology</h3>
        </div>
        <div class="col"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html> -->



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owais Portfolio</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
           $(".menu-icon").on("click", function() {
                 $("nav ul").toggleClass("showing");
           });
     });

     // Scrolling Effect

     $(window).on("scroll", function() {
           if($(window).scrollTop()) {
                 $('nav').addClass('black');
           }

           else {
                 $('nav').removeClass('black');
           }
     })
</script>
<link rel="stylesheet" type="text/css" href="homepage.CSS"/>

  </head>
  <body>
    <div>
    <header id="home">
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  Owais Badat
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="#home">Home</a></li>
                     <li><a href="#profile">Profile</a></li>
                     <li><a href="#resume">Resume</a></li>
                     <li><a href="#portfolio">Portfolio</a></li>
                     <li><a href="#contact">Contact</a></li>
                  </ul>
               </div>
            </nav>

            <div class="jumbotron jumbotron-fluid" id="jumbotron">
                <div class="container" id="jumbocontainer">
                  <h1 class="display-4" style="font-size:80px">Hello, I'm Owais Badat</h1>
                  <p class="lead" style="font-size:48px">Full Stack Developer</p>
                  <span style="margin-right:5%">
                    <a href="google.com" style="color: Tomato;"><i class="fab fa-linkedin fa-3x"></i></a>
                  </span>
                  <span>
                    <a href="google.com" style="color: Tomato;"><i class="fab fa-github-square fa-3x"></i></a>
                  </span>
                </div>
            </div>
         </header>
       </div>
       <div class="container-fluid" id="profile">
         <div id="profilehead">
           <h1 id="font" style="font-size: 40px; font-weight:bold;">Owais Badat<h1>
             <p id="font" style="color:grey; font-size: 22px;">Full Stack Developer</p>
         </div>
         <div id="profileinfo">
           <div>
             <image src="girl.jpeg"/>
           </div>
           <div id="skillset">
             <h4>SKILLSET</h4>
             <ul>
               <li>Node.js</li>
               <li>React</li>
               <li>Javascript</li>
               <li>PostgresSQL</li>
               <li>JQuery</li>
               <li>JSON</li>
               <li>HTML</li>
               <li>CSS</li>
               <li>AWS</li>
               <li>Git/Github</li>
               <li>Heroku</li>
             </ul>
           </div>
           <div id="professionalprofile">
             <h3>Professional Profile</h3>
             <p>Self driven Software Developer from Houston Texas ready for any new opportunities. I truly enjoy working in a team setting with professional colleagues who have the same passion for quality work as I do. I believe that working in a team and bouncing off creative ideas leads to the best work product.<br><br>
             I have created multiple web applications utilizing agile methodologies that aimed to solve problems in the construction industry. I can do both front end and back end development environments and have a passion for both sides of the process. Although I am a team player I am fully capable of working in a self starting environment with minimal oversight. At times this is when I truly grow and thrive; after the work is defined and a target has been placed in front of me.</p>
           </div>
         </div>
      </div>
      <div class="container-fluid" id="resume">
        <div id="profilehead">
          <h1 id="font" style="font-size: 40px;font-weight:bold;">Resume<h1>
            <p id="font" style="color:grey; font-size: 22px;">My Education</p>
        </div>
        <div id="resumeinfo">
          <div style="margin-top: 5px;">
            <span style="color: Tomato;">
              <i class="fas fa-user-graduate fa-7x"></i>
            </span>
          </div>
          <div id="degrees" style="width:35%">
            <div id="degreespacing">
              <h3 style="margin:0;">Full Stack Developer</h3>
              <!-- <p>Immersive Bootcamp</p> -->
            </div>
            <hr>
            <div id="degreespacing">
              <h3 style="margin:0;">Economics</h3>
              <p style="margin:0;">Bachelors of Science</p>
            </div>
            <hr>
            <div id="degreespacing">
              <h3 style="margin:0;">Psychology</h3>
              <p style="margin:0;">Bachelors of Science</p>
            </div>
            <hr>
          </div>
          <div id="schools">
            <div id="degreespacing">
              <h3 style="margin:0;">DigitalCrafts</h3>
              <p>2017-2018</p>
            </div>
            <div id="degreespacing">
              <h3 style="margin:0;">University of Houston</h3>
              <p>2011-2015</p>
            </div>
            <div id="degreespacing">
              <h3 style="margin:0;">University of Houston</h3>
              <p>2011-2015</p>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-outline-primary btn-lg" style="color: White; background-color: Tomato;margin-left: 27%;margin-top: .5%;">Download CV</button>


      </div>

      <div class="container-fluid" id="portfolio">
        <div id="portfoliohead">
          <h1 id="font" style="font-size: 40px;color:white;font-weight:bold;">Portfolio<h1>
            <p id="font" style="color:grey; font-size: 22px;color:white;">My best works.</p>
        </div>
        <div>
          <div class="row">
	<div class="containers">
		<div class="test_box box-01 col-xs-6 col-md-4">
			<div class="inner">
				<a href="https://dc-cellar.herokuapp.com/" class="test_click">
					<div class="flex_this">
						<!-- <h1 class="test_title">Cellar App</h1> -->
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-02 col-xs-6 col-md-4">
			<div class="inner">
				<a href="http://digitalnomads.surge.sh/" class="test_click">
					<div class="flex_this">
						<!-- <h1 class="test_title">Title</h1> -->
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-03 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<!-- <div class="test_box box-04 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-05 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div>
		<div class="test_box box-06 col-xs-6 col-md-4">
			<div class="inner">
				<a href="#" class="test_click">
					<div class="flex_this">
						<h1 class="test_title">Title</h1>
						<span class="test_link">Link</span>
					</div>
				</a>
			</div>
		</div> -->
	</div>
</div>


        </div>


      </div>







  </body>
</html>
